.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 2rem 4rem;
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero h1 {
  max-width: 1200px;
  text-align: start;
  color: var(--background-primary);
  border-left: 0.5rem solid var(--background-primary);
  font-size: 4.69rem;
  padding-left: 2.38rem;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero p {
  text-align: start;
  color: var(--primary-contrast);
  font-size: 1.5rem;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}