/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */


 :root {
  --static-light: #fff;

  --nav-background: #101042;
  --nav-border: #23235c;
  --nav-text: #dcdbff;
  --nav-text-active: #fff;

  --primary: #7f1a88;
  --primary-hover: #a540ae;
  --primary-contrast: #fff;

  --secondary: #3d3aba;
  --secondary-hover: #6360e0;
  --secondary-contrast: #fff;

  --accent: var(--nav-text);
  --accent-hover: #8f8ee8;
  --accent-contrast: #000;
  --accent-alpha: rgba(143, 142, 232, 0.35);

  --background-primary: #fff;
  --background-light: #bdbdbd;
  --background-dark: var(--nav-background);
  --background-announcement: #e5f1ff;

  --primary-family: "Montserrat", sans-serif;
  --secondary-family: Verdana, sans-serif;
  --announcement-family: "Fjalla One", sans-serif;

  --primary-font: #2d2d32;
  --secondary-font: #878787;
  --dark-font: #000;
  --menu-font: #9ba9b9;
  --announcement-heading: #0b56a3;
  --announcement-light: #5996ff;

  --primary-radius: 5px;
  --secondary-radius: 10px;
  --overlay: rgba(0, 0, 0, 0.05);
  --primary-gradient: linear-gradient(
      135deg,
      rgba(22, 19, 86, 1) 0%,
      rgba(16, 16, 69, 1) 29%,
      rgba(127, 26, 136, 1) 84%
  );

  --header-banner: url("https://grythome.s3.us-east-1.amazonaws.com/media/dsvjdhsz/banner1440x512_community.png");
  --header-banner-mobile: url("https://grythome.s3.us-east-1.amazonaws.com/media/uo2d2iej/new.png");
  --recommended-header: url("https://grythome.s3.us-east-1.amazonaws.com/media/0lvgeeqy/banner_recommended.png");
  --quote-background: url("https://grythome.s3.us-east-1.amazonaws.com/media/dv3h4dr1/quotepanelbackground-1.png");
  --quote-background-mobile: url("https://grythome.s3.us-east-1.amazonaws.com/media/1wplyl1s/quotepanelbackground1mobile.png");
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-primary);
  color: var(--primary-font);
  font-family: var(--primary-family);
  font-size: 1rem;
  line-height: 1.6;
}

body.appear {
  display: block;
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-family);
  font-weight: 600;
  scroll-margin: 40px;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.15rem; }
h6 { font-size: 1rem; }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: 0.88rem;
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--background-light);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--menu-font);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--primary-font);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--primary-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--menu-font);
  color: var(--background-primary);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--primary-font);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--background-light);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--primary-font);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--background-light);
  margin: 0;
  padding: 40px 0;
}
